.footer {
	height: 9.5vh;
	background-color: #52616b;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: -5;
}

@media (min-width: 720px) {
	.footer {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
	}
}
