/* Basics */
@import './assets/css/basics/fonts.css';
@import './assets/css/basics/base.css';

.appsus {
	display: flex;
	flex-direction: column;
	background-color: #c9d6df;
}

@media (max-width: 720px) {
	.appsus {
		height: 100%;
	}
}
